<div id="main-content" class="card">
  <header>
    <h1 id="fxa-two-factor-header">
      {{^serviceName}}
        {{#t}}Two Factor Authentication Complete{{/t}}
      {{/serviceName}}
    </h1>
  </header>

  <section>

      <div class="otp-success">Two Factor Authentication successfully set up.</div>
      <a href="/signin" class="sign-in">Proceed to Sign in.</a>

  </section>
</div>
